<!doctype html>
<html lang="en">

<head>
    <title>CUSTOMER</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


</head>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

<body>
    <div>
        <nav class="navbar navbar-light bg-light justify-content-between">
            <a class="navbar-brand"></a>
            <h1>SnackBite</h1>
            <form class="form-inline">
                <h2 id="welcome_msg" class="mr-sm-2"></h2>
                <a class="btn btn-success" id='log_in' >Log In</a>
                <a class="btn btn-danger" id='log_out' >Log Out</a>

            </form>
        </nav>
        <!-- LOADING -->
        <div id='loading' style='padding: 10%;'>
            <img src='iphone-spinner-2.gif' class='m-auto d-block'>
            <p class='m-auto text font-weight-bold' style='width: fit-content;'>Loading...</p>
        </div>
        
        
        <!--VUE STUFF -->
        <div id='vue_stuff'>
            <div class="container" id="app" >
                <div v-show="!orderPlaced">
                    <h1 class="d-inline">Your orders</h1>
                    <button @click="find_by_customer_id" class="btn btn-primary m-3">Refresh order list</button>
                </div>
    
                <button @click="find_by_customer_id" class="btn btn-primary m-3">View all orders</button>
                <button @click="find_by_customer_id_status('NEW')" class="btn btn-primary m-3">Filter new</button>
                <button @click="find_by_customer_id_status('Cancelled')" class="btn btn-primary m-3">Filter Cancelled</button>
    
    
                <div class="row" v-show="!orderPlaced">
                    <div id="main" class="col-xl-9 col-lg-12 col-md-12">
                        <table class="table table-striped" v-if="hasOrders" >
                            <!-- <table class="table table-striped"> -->
                            <thead>
                                <tr>
                                    <th>Order ID</th>
                                    <th>Pickup Location</th>
                                    <th>Destination</th>
                                    <th>Price</th>
                                    <th>Driver name</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                                <tr v-for="order in orders" v-show="no_order">
                                    <td>{{ order.order_id }}</td>
                                    <td>{{ order.pickup_location }}</td>
                                    <td>{{ order.destination }}</td>
                                    <td>{{ order.price }}</td>
                                    <td>{{ order.driver_name }}</td>
                                    <td>{{ order.status }}</td>
    
                                    <td>
                                        <button v-if="order.status != 'Cancelled'" class="btn btn-danger" @click="cancel_order(order.order_id);">Cancel Order</button>
                                        <!-- Chin ning use this to switch between accept order button on DRIVER UI -->
                                        <!-- <button v-if="order.status == 'NEW'" class="btn btn-success mt-sm-2" @click="">Accept Order</button>
                                        <button v-else-if="order.status == 'On delivery'" class="btn btn-primary" @click="">Complete delivery</button>
                                        <button v-else-if="order.status == 'Cancelled'" class="btn btn-danger" @click="">Cancel Order</button> -->
                                    </td>
    
    
                                </tr>
                            </thead>
                        </table>
                        <div class="text-danger" v-if="!hasOrders">{{ message }}</div>
                        <div class="text-danger" v-if="hasOrders">{{ message }}</div>
    
                    </div> <!-- main & col -->
                    <div class="col-xl-3 col-lg-12 col-md-12">
                        <h2>Create a order</h2>
                        <div class="form-group">
                            <label for="pickup">Pick up location</label>
                            <input v-model="pickup_location" type="text" class="form-control" id="pickup"
                                placeholder="Enter pick up location">
                        </div>
                        <div class="form-group">
                            <label for="destination">Destination</label>
                            <input v-model="destination" type="text" class="form-control" id="destination"
                                placeholder="Enter destination">
                        </div>
    
                        <button @click="create_order();" class="btn btn-primary" v-on:submit.prevent="onSubmit">Create
                            Order</button>
                        <div class="text-success" v-if="orderCreated">
                            The order has been successfully placed! <br>
                            <br>
                        </div>
    
                    </div> <!-- col -->
                </div> <!-- row -->
    
                <div id="place_order" v-show="orderPlaced">
                    <h3>Order Created</h3>
                    <table class="table table-striped" v-if="hasOrders">
                        <!-- <table class="table table-striped"> -->
                        <thead>
                            <tr>
                                <th>Order ID</th>
                                <th>Pickup Location</th>
                                <th>Destination</th>
                                <th>Price</th>
                                <th>Driver name</th>
                                <th>Status</th>
                            </tr>
                            <tr>
                                <td>{{ order_result.order_id }}</td>
                                <td>{{ order_result.pickup_location }}</td>
                                <td>{{ order_result.destination }}</td>
                                <td>{{ order_result.price }}</td>
                                <td>{{ order_result.driver_name }}</td>
                                <td>{{ order_result.status }}</td>
                            </tr>
                        </thead>
                    </table>
                    <div class="text-success" v-if="orderSuccessful">
                        The order has been successfully placed! <br>
                        <br>
                    </div>
                    <div class="text-danger" v-else>
                        There is a problem with creating this order, please check with the SnackBite for more details.<br>
                        <br>
                    </div>
                    <button @click="orderPlaced = false; orderSuccessful = false" class="btn btn-primary">Return to home
                        page</button>
                </div> <!-- place order -->
            </div> <!-- app: container -->

        </div>



    </div>

    
<!-- FIREBASE CONFIG DO NOT TOUCH THIS-->
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/8.3.1/firebase-app.js"></script>

    <!-- Add Firebase products that you want to use -->
    <script src="https://www.gstatic.com/firebasejs/8.3.1/firebase-auth.js"></script>
    
    <script>
    // Your web app's Firebase configuration
    var firebaseConfig = {
        apiKey: "AIzaSyCUs5MFQPqQV8rmg2rzy-0Rw8m5eAjoUSw",
        authDomain: "snackbite-9355b.firebaseapp.com",
        projectId: "snackbite-9355b",
        storageBucket: "snackbite-9355b.appspot.com",
        messagingSenderId: "165426704896",
        appId: "1:165426704896:web:5bb86bb260e6552aa79ee5"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
    </script>
<!-- FIREBASE CONFIG DO NOT TOUCH THIS -->



    <!-- External Javascript file  -->
    <script src="customer_order.js"></script>
    


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
</body>

</html>