<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>DRIVER</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://kit.fontawesome.com/909e473e0c.js" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>



<body>
  <div>
    <nav class="navbar navbar-light bg-light justify-content-between">
        <a class="navbar-brand"></a>
        <h1>SnackBite</h1>
        <form class="form-inline">
            <!-- WELCOME MESSAGE RENDERS HERE -->
            <h2 id="welcome_msg" class="mr-sm-2"></h2>
            <a class="btn btn-success" id='log_in'>Log In via <i class="fab fa-google">oogle</i></a>
            <a class="btn btn-danger" id='log_out'>Log Out</a>
            <!-- <a class="btn btn-danger" id='log_out' >Log Out</a> -->


        </form>
    </nav>
    <!-- LOADING -->
    <div id='loading' style='padding: 10%;'>
        <img src='iphone-spinner-2.gif' class='m-auto d-block'>
        <p class='m-auto text font-weight-bold' style='width: fit-content;'>Loading...</p>
    </div>
    <!-- ERROR IN AUTHENTICATING CUSTOMER -->
    <div style='width: fit-content;margin: auto; color: red;' id='error'>

    </div>


    <!--VUE STUFF -->
    <div id='vue_stuff'>
      <div class="container" id="app">
      
        <div class="container">

          <!--filter buttons-->
          <h1 class="d-inline">Your Jobs</h1>
          <br>
          <button @click="find_by_driver_id" class="btn btn-primary m-3">View all Jobs</button>
          <button @click="find_by_driver_id_status('NEW')" class="btn btn-primary m-3">Filter New Jobs</button>
          <button @click="find_by_driver_id_status('Cancelled')" class="btn btn-primary m-3">Filter Cancelled Jobs</button>

            
          <!--delivery table-->
          <table class="table table-striped">
            <thead>
                <tr>
                    <th>Order ID</th>
                    <th>Customer ID</th>
                    <th>Customer Name</th>
                    <th>Pickup Location</th>
                    <th>Destination</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
                <tr v-for="order in orders" >
                  <td>{{ order.order_id }}</td>
                  <td>{{ order.customer_id }}</td>
                  <td>{{ order.customer_name }}</td>
                  <td>{{ order.pickup_location }}</td>
                  <td>{{ order.destination }}</td>
                  <td></td>
                
                  <!--Job Button-->
                  <td>
                    <button v-if="order.status == 'NEW'" class="btn btn-success mt-sm-2" @click="Accept">Accept Delivery</button>
                    <button v-else-if="order.status == 'On Delivery'" class="btn btn-primary" @click="">Complete delivery</button>
                    <button v-else-if="order.status == 'Cancelled'" class="btn btn-danger" @click="">Cancel Delivery</button> 
                  </td>
                </tr>
            </thead>
          </table>


      
        </div> <!-- end: container-->
      </div><!-- end: app-->
    </div><!-- end: vue stuff-->
  </div>

    <!-- MODAL FOR SIGN UP-->  
  <div class="modal fade" id="signUpModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">

          <div class="modal-content">

              <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Sign up for SnackBite</h5>
                  <button type="button" class="close" data-dismiss="modal">
                  </button>
              </div>

              <div class="modal-body">
                  We have noticed you have not registered for SnackBite. Please
                  fill in your Phone number below<br /><br />

                  <div class="form-group">
                      <label for="exampleInputPassword1">Phone Number</label>
                      <input class="form-control" id="p_num" type="number" pattern="[0-9\s]{13,19}" maxlength="19"
                          placeholder="Please enter your phone number">
                  </div>
                  <div>


                      <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          <button type="button" class="btn btn-primary" id='sign_up'>Submit</button>
                      </div>


                  </div>

              </div>
          </div>
    </div>
  </div>


  <!-- FIREBASE CONFIG DO NOT TOUCH THIS-->
  <!-- The core Firebase JS SDK is always required and must be listed first -->
  <script src="https://www.gstatic.com/firebasejs/8.3.1/firebase-app.js"></script>

  <!-- Add Firebase products that you want to use -->
  <script src="https://www.gstatic.com/firebasejs/8.3.1/firebase-auth.js"></script>

  <script>
      // Your web app's Firebase configuration
      var firebaseConfig = {
          apiKey: "AIzaSyCUs5MFQPqQV8rmg2rzy-0Rw8m5eAjoUSw",
          authDomain: "snackbite-9355b.firebaseapp.com",
          projectId: "snackbite-9355b",
          storageBucket: "snackbite-9355b.appspot.com",
          messagingSenderId: "165426704896",
          appId: "1:165426704896:web:5bb86bb260e6552aa79ee5"
      };
      // Initialize Firebase
      firebase.initializeApp(firebaseConfig);
  </script>
  <!-- FIREBASE CONFIG DO NOT TOUCH THIS -->  



  <!-- External Javascript file  -->
  <script src="driver_job.js"></script>


  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>

</body>


</html>
