<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>DRIVER</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://kit.fontawesome.com/909e473e0c.js" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>



<body>
  <div>
    <nav class="navbar navbar-light bg-light justify-content-between">
        <a class="navbar-brand"></a>
        <h1>SnackBite</h1>
        <form class="form-inline">
            <!-- WELCOME MESSAGE RENDERS HERE -->
            <h2 id="welcome_msg" class="mr-sm-2"></h2>
            <a class="btn btn-success" id='log_in'>Log In via <i class="fab fa-google">oogle</i></a>
            <a class="btn btn-danger" id='log_out'>Log Out</a>
            <!-- <a class="btn btn-danger" id='log_out' >Log Out</a> -->


        </form>
    </nav>
    <!-- LOADING -->
    <div id='loading' style='padding: 10%;'>
        <img src='iphone-spinner-2.gif' class='m-auto d-block'>
        <p class='m-auto text font-weight-bold' style='width: fit-content;'>Loading...</p>
    </div>
    <!-- ERROR IN AUTHENTICATING CUSTOMER -->
    <div style='width: fit-content;margin: auto; color: red;' id='error'>

    </div>


    <!--VUE STUFF -->
    <div id='vue_stuff'>
      <div class="container" id="app">
      
        <div class="container">

          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="Order-tab" data-toggle="tab" href="#Order" role="tab"
                    aria-controls="Order" aria-selected="true">Jobs</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" id="review-tab" data-toggle="tab" href="#review" role="tab"
                    aria-controls="review" aria-selected="false">Reviews</a>
            </li>
          </ul> 

          <!--START OF TABS -->
          <div class="tab-content" id="myTabContent">

             <!--JOBS TABS -->
            <div class="tab-pane fade show active" id="Order" role="tabpanel" aria-labelledby="Order-tab">
              <!--filter buttons-->
              <button v-show="new_button" @click="find_by_driver_id()" class="btn btn-primary m-3">View New Jobs</button>
              <button v-show="completed_button" @click="find_by_driver_id_completed()" class="btn btn-primary m-3">View Completed Jobs</button>
              <button v-show="reload_button" @click="reload()" class="btn btn-primary m-3">Back to Job Page</button>
              
              <!--no order in database messages-->
              <div v-show="error_new" class="text-danger">You have no new orders</div>
              <div v-show="error_completed" class="text-danger">You have no completed orders</div>

              <div v-show="show_new">
                <h1 class="d-inline">New Jobs</h1>
                <br>
                <!--NEW table-->
                <table class="table table-striped">
                  <thead>
                      <tr>
                          <th>Order ID</th>
                          <th>Customer ID</th>
                          <th>Customer Name</th>
                          <th>Pickup Location</th>
                          <th>Destination</th>
                          <th>Status</th>
                          <th>Action</th>
                      </tr>
                      <tr v-for="order in orders" v-show="no_order" >
                        <td>{{ order.order_id }}</td>
                        <td>{{ order.customer_id }}</td>
                        <td>{{ order.customer_name }}</td>
                        <td>{{ order.pickup_location }}</td>
                        <td>{{ order.destination }}</td>
                        <td>{{ order.status }}</td>
                      
                        <!--Job Button-->
                        <td>
                          <button v-if="order.status == 'NEW'" class="btn btn-success mt-sm-2" @click="accept_order(order.order_id)">Accept Delivery</button>
                        </td>
                      </tr>
                  </thead>
                </table>


                <br>
                <h1 class="d-inline">Current Jobs</h1>
                <br>
                <!--on delivery table-->
                <table class="table table-striped">
                  <thead>
                      <tr>
                          <th>Order ID</th>
                          <th>Customer ID</th>
                          <th>Customer Name</th>
                          <th>Pickup Location</th>
                          <th>Destination</th>
                          <th>Status</th>
                          <th>Action</th>
                      </tr>
                      <tr v-for="delivery in on_delivery" v-show="no_on_delivery" >
                        <td>{{ delivery.order_id }}</td>
                        <td>{{ delivery.customer_id }}</td>
                        <td>{{ delivery.customer_name }}</td>
                        <td>{{ delivery.pickup_location }}</td>
                        <td>{{ delivery.destination }}</td>
                        <td>{{ delivery.status }}</td>
                        <!--Job Button-->
                        <td>
                          <button v-if="delivery.status == 'On Delivery'" class="btn btn-primary" @click="complete_delivery(delivery.order_id)">Complete delivery</button>
                        </td>
                      </tr>
                  </thead>
                </table>
              </div>


              <div v-show="show_completed">
                <br>
                <h1 class="d-inline">Completed Jobs</h1>
                <br>
                <!--completed  delivery table-->
                <table class="table table-striped">
                  <thead>
                      <tr>
                          <th>Time</th>
                          <th>Order ID</th>
                          <th>Customer ID</th>
                          <th>Customer Name</th>
                          <th>Pickup Location</th>
                          <th>Destination</th>
                          <th>Status</th>
                      </tr>
                      <tr v-for="completed in completed_delivery" v-show="no_completed_delivery" >
                        <td>{{ completed.date_time }}</td>
                        <td>{{ completed.order_id }}</td>
                        <td>{{ completed.customer_id }}</td>
                        <td>{{ completed.customer_name }}</td>
                        <td>{{ completed.pickup_location }}</td>
                        <td>{{ completed.destination }}</td>
                        <td>{{ completed.status }}</td>
                      </tr>
                  </thead>
                </table>
              </div>

            </div> <!-- end: job tabs-->


            <!-- start : review tabs-->
            <div class="tab-pane fade" id="review" role="tabpanel" aria-labelledby="review-tab">
              <div v-show="hasReviews">
                  <h1 class="d-inline">Your reviews</h1>
                  <button @click="find_reviews_by_driver_id" class="btn btn-primary m-3">Refresh reviews list</button>

              </div>

              <div class="row">
                  <div id="main" class="col-xl-9 col-lg-12 col-md-12">

                      <table class="table table-striped" v-if="hasReviews">
                      
                          <thead>
                              <tr>
                                  <th>Review ID</th>
                                  <th>Driver name</th>
                                  <th>Customer name</th>
                                  <th>Order ID</th>
                                  <th>Feedback</th>
                              </tr>
                              <tr v-for="review in reviews" v-show="hasReviews">
                                  <td>{{ review.review_id }}</td>
                                  <td>{{ review.driver_name }}</td>
                                  <td>{{ review.customer_name }}</td>
                                  <td>{{ review.order_id }}</td>
                                  <td>{{ review.feedback }}</td>
                              </tr>
                          </thead>
                      </table>
                      <div class="text-danger" v-if="!hasReviews">{{ review_message }}</div>
                      <div class="text-danger" v-if="hasReviews">{{ review_message }}</div>

                  </div> 
              </div> 

            </div> <!-- end: review tabs-->


          </div> <!-- end: all tabs-->
         

        </div> <!-- end: container-->
      </div><!-- end: app-->
    </div><!-- end: vue stuff-->
  </div>

    <!-- MODAL FOR SIGN UP-->  
  <div class="modal fade" id="signUpModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">

          <div class="modal-content">

              <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Sign up for SnackBite</h5>
                  <button type="button" class="close" data-dismiss="modal">
                  </button>
              </div>

              <div class="modal-body">
                  We have noticed you have not registered for SnackBite. Please
                  fill in your Telegram ID and Phone number below<br /><br />
                  <div class="form-group">
                    <label for="exampleInputEmail1">Telegram ID</label>
                    <input type="email" class="form-control" id="t_id" placeholder="Enter Telegram id">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your id with anyone
                        else.</small>
                  </div>
                  <div class="form-group">
                      <label for="exampleInputPassword1">Phone Number</label>
                      <input class="form-control" id="p_num" type="number" pattern="[0-9\s]{13,19}" maxlength="19"
                          placeholder="Please enter your phone number">
                  </div>
                  <div>
                      <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          <button type="button" class="btn btn-primary" id='sign_up'>Submit</button>
                      </div>
                  </div>

              </div>
          </div>
    </div>
  </div>


  <!-- FIREBASE CONFIG DO NOT TOUCH THIS-->
  <!-- The core Firebase JS SDK is always required and must be listed first -->
  <script src="https://www.gstatic.com/firebasejs/8.3.1/firebase-app.js"></script>

  <!-- Add Firebase products that you want to use -->
  <script src="https://www.gstatic.com/firebasejs/8.3.1/firebase-auth.js"></script>

  <script>
      // Your web app's Firebase configuration
      var firebaseConfig = {
          apiKey: "AIzaSyCUs5MFQPqQV8rmg2rzy-0Rw8m5eAjoUSw",
          authDomain: "snackbite-9355b.firebaseapp.com",
          projectId: "snackbite-9355b",
          storageBucket: "snackbite-9355b.appspot.com",
          messagingSenderId: "165426704896",
          appId: "1:165426704896:web:5bb86bb260e6552aa79ee5"
      };
      // Initialize Firebase
      firebase.initializeApp(firebaseConfig);
  </script>
  <!-- FIREBASE CONFIG DO NOT TOUCH THIS -->  



  <!-- External Javascript file  -->
  <script src="driver_job.js"></script>


  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>

</body>


</html>
